* {
  margin: 0px auto;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  list-style-type: none;
  color: #000;
}
body {
  background-color: rgb(243, 242, 232);
}
/*------------头部部分------------*/
#header {
  margin-bottom: 20px;
}
/*------头部上半部分------*/
#identification {
  display: flex;
  width: 60%;
  margin-bottom: 10px;
}
/*头部logo*/
#logo {
  display: inline-block;
  width: 61.6%;
  height: 70px;
  line-height: 70px;
}
#logo span {
  margin-left: 50px;
  font-size: 24px;
}
/*头部搜索框*/
#search {
  width: 48.4%;
  height: 70px;
  line-height: 70px;
}
#search input {
  width: 70%;
  height: 30px;
  margin-left: 28%;
  padding-left: 10px;
  border-radius: 15px;
}
/*------头部下半部分------*/
/*头部菜单*/
#nav {
  width: 100%;
  height: 50px;
  border-top: 1px solid rgb(204, 203, 203);
  border-bottom: 1px solid rgb(204, 203, 203);
}
#menu {
  width: 60%;
  height: 50px;
  line-height: 50px;
  display: flex;
}
#menu a {
  display: block;
  text-align: center;
  width: 70px;
  height: 50px;
  font-size: 12px;
}
.menuTag {
  margin: 0 10px;
  padding: 0px;
  width: 70px;
  height: 50px;
}
.menuTag:first-child {
  margin-left: 30px;
}

/*------------主体部分------------*/
#center {
  width: 50%;
  height: 800px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
/*------主体左半部分------*/
#Principal {
  width: 70%;
  height: 800px;
}
/*横幅*/
#banner {
  margin-top: 30px;
  width: 95%;
  height: 200px;
  border-bottom: 1px solid rgb(204, 203, 203);
}
.shell{
  width: 95%;
  height: 200px;
  position: relative;
  overflow-x: hidden;
  border-radius: 5px;
  border: 10px #fff solid;
}
#banner p {
  display: block;
  text-align: center;
  line-height: 200px;
  width: 400px;
  height: 200px;
}
/*主体文章*/
.essay {
  width: 95%;
  height: 120px;
  margin: 15px auto;
  border-bottom: 1px solid rgb(204, 203, 203);
}
/*------主体右半部分------*/
#sidebar {
  width: 30%;
  height: 800px;
}
/*简介*/
#briefly {
  margin: 10px 18px;
  width: 90%;
  height: 200px;
  border-bottom: 1px solid rgb(204, 203, 203);
}
#userAvatar {
  width: 20%;
  margin-left: 40%;
  margin-top: 10px;
  margin-bottom: 5px;
}
#briefly p {
  text-align: center;
  font-size: 12px;
}
#userMedia {
  width: 90%;
  height: 50px;
  line-height: 50px;
  margin-top: 5px;
  display: flex;
}

/*归档*/
#classify {
  margin: 10px 18px;
  width: 90%;
  height: 400px;
  border-bottom: 1px solid rgb(204, 203, 203);
}
/*待定义*/
#undate {
  margin: 10px 18px;
  width: 90%;
  height: 160px;
  border-bottom: 1px solid rgb(204, 203, 203);
}
/*------------尾部部分------------*/
#footer {
  margin-top: 20px;
  width: 100%;
  height: 80px;
  line-height: 80px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgb(204, 203, 203);
  border-top: 1px solid rgb(204, 203, 203);
}
#footer span {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
}
#footer span:first-child {
  margin-top: 10px;
}
